.nav{
    display: flex;
    background-color: rgb(43, 43, 43);
    justify-content: center;
}
.logo{
    width: 50%;

}
.end{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}
h1{
    color: whitesmoke;
    margin-left: 50px;
}
.link-style{
    text-decoration: none;
    color: white;
    float: right;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
}