.productCard{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
.product{
    border-radius: 15px;
    width: 250px;
    height: 300px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product img{
    width: 200px;
}
.product description{
    text-align: center;
}
.product:hover{
    transition: .3s ease-in;
    cursor: pointer;
}
.addToCartBtn{
    background-color: transparent;
    border: 2px solid rgb(19, 18, 18);
    min-width: 100px;
    padding: 5px 10px 10px 5px;
    border-radius: 15px;
}
.addToCartBtn:hover{
    background-color: rgb(19, 18, 18);
    color: white;
    cursor: pointer;
}